# Dimensionality and Feature Selection
#### Joshua Greenert
#### DSC550-T301 Data Mining
#### 10/11/2022

## Part 1

In [2]:
#Import the housing data as a data frame and ensure that the data is loaded properly.
import pandas as pd
import numpy as np

df_housing = pd.read_csv('train.csv')
df_housing.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
# Drop the "Id" column and any features that are missing more than 40% of their values.

In [ ]:
# For numerical columns, fill in any missing data with the median value.

In [ ]:
# For categorical columns, fill in any missing data with the most common value (mode).

In [ ]:
# Convert the categorical columns to dummy variables.

In [ ]:
# Split the data into a training and test set, where the SalePrice column is the target.

In [ ]:
# Run a linear regression and report the R2-value and RMSE on the test set.

In [ ]:
# Fit and transform the training features with a PCA so that 90% of the variance is retained (see section 9.1 in the Machine Learning with Python Cookbook).

In [ ]:
# How many features are in the PCA-transformed matrix?

In [ ]:
# Transform but DO NOT fit the test features with the same PCA.

In [ ]:
# Repeat step 7 with your PCA transformed data.

In [ ]:
# Take your original training features (from step 6) and apply a min-max scaler to them.

In [ ]:
# Find the min-max scaled features in your training set that have a variance above 0.1 (see Section 10.1 in the Machine Learning with Python Cookbook).

In [ ]:
# Transform but DO NOT fit the test features with the same steps applied in steps 11 and 12.

In [ ]:
# Repeat step 7 with the high variance data.

In [ ]:
# Summarize your findings

## Part 2

In [ ]:
# Import the data as a data frame and ensure it is loaded correctly.

In [ ]:
# Convert the categorical features (all of them) to dummy variables.

In [ ]:
# Split the data into a training and test set.

In [ ]:
# Fit a decision tree classifier on the training set.

In [ ]:
# Report the accuracy and create a confusion matrix for the model prediction on the test set.

In [ ]:
# Create a visualization of the decision tree.

In [ ]:
# Use a χ2-statistic selector to pick the five best features for this data (see section 10.4 of the Machine Learning with

In [ ]:
# Which five features were selected in step 7? Hint: Use the get_support function.

In [ ]:
# Repeat steps 4 and 5 with the five best features selected in step 7.

In [ ]:
# Summarize your findings.