# Data Preparation Week 7 and 8
## Joshua Greenert
## DSC540-T301 Data Preparation
## 10/15/2022

## Chapter 7

In [35]:
'''
Filter out missing data
Fill in missing data
Remove duplicates
Transform data using either mapping or a function
Replace values
Discretization and Binning
Manipulate Strings'''
# Perform the modications to the dataset for chapter 7 methods.
import pandas as pd
import numpy as np

# Create the dataframe.
df_candy = pd.read_csv('candyhierarchy2017.csv',  encoding = "ISO-8859-1")
df_candy.head(5)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [36]:
# Replace values with mode for all categorical columns.
categorical_columns = df_candy.select_dtypes( include ='object').columns
df_candy[categorical_columns] = df_candy[categorical_columns].apply(lambda x: x.fillna(x.value_counts().index[0]))

In [45]:
# Replace values with median for all continuous columns.
# Remove column 'Q12: MEDIA [Daily Dish]'
df_candy['Q12: MEDIA [Yahoo]'].isna().sum()

2393

## Chapter 8

In [37]:
'''
Create hierarchical index
Combine and Merge Datasets (you will have to either create a new dataset from your existing data or create a relationship between the data I have provided)
Reshape
Pivot the data'''
df_candy.shape

(2460, 120)

## Chapter 10

In [3]:
'''
Grouping with Dicts/Series
Grouping with Functions
Grouping with Index Levels
Split/Apply/Combine
Cross Tabs'''

'\nGrouping with Dicts/Series\nGrouping with Functions\nGrouping with Index Levels\nSplit/Apply/Combine\nCross Tabs'

## Chapter 11

In [ ]:
'''
Convert between string and date time
Generate date range
Frequencies and date offsets
Convert timestamps to periods and back
Period Frequency conversions'''