# Machine Learning: Predicting Fuel Efficiency
#### Joshua Greenert
#### DSC550-T301 Data Mining
#### 9/20/2022

In [59]:
# Load the csv through pandas
import numpy as np
import pandas as pd

fuel_df = pd.read_csv('auto-mpg.csv')
fuel_df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [60]:
# Remove the car name column.
fuel_df.drop('car name', axis = 1, inplace = True)
fuel_df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1
2,18.0,8,318.0,150,3436,11.0,70,1
3,16.0,8,304.0,150,3433,12.0,70,1
4,17.0,8,302.0,140,3449,10.5,70,1

In [95]:
# Figure out why horsepower is a string and replace any strings with the column mean
total = 0
for i in range(len(fuel_df)):
    if(fuel_df['horsepower'][i] != "?"):
        total = total + int(fuel_df['horsepower'][i])

meanValue = total / len(fuel_df)

# Replace the question marks with the mean value.
for i in range(len(fuel_df)):
    if(fuel_df['horsepower'][i] == "?"):
        fuel_df['horsepower'][i] = meanValue
        
meanValue

104.4321608040201

In [103]:
# Create dummy variables for the origin column
fuel_df['origin'] = pd.get_dummies(fuel_df['origin'])

ValueError: Columns must be same length as key

In [96]:
# Create a correlation coefficient matrix and/or visualization. Are there features highly correlated with mpg?

In [97]:
# Plot mpg versus weight. Analyze this graph and explain how it relates to the corresponding correlation coefficient.

In [98]:
# Randomly split the data into 80% training data and 20% test data, where your target is mpg.

In [99]:
# Train an ordinary linear regression on the training data

In [100]:
# Calculate R2, RMSE, and MAE on both the training and test sets and interpret your results.

In [ ]:
# Pick another regression model and repeat the previous two steps. 
# Note: Do NOT choose logistic regression as it is more like a classification model.