# Machine Learning: Predicting Fuel Efficiency
#### Joshua Greenert
#### DSC550-T301 Data Mining
#### 9/20/2022

In [19]:
# Load the csv through pandas
import numpy as np
import pandas as pd

fuel_df = pd.read_csv('auto-mpg.csv')
fuel_df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [27]:
# Remove the car name column.
fuel_df.drop('car name', axis = 1, inplace = True)
fuel_df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1
2,18.0,8,318.0,150,3436,11.0,70,1
3,16.0,8,304.0,150,3433,12.0,70,1
4,17.0,8,302.0,140,3449,10.5,70,1

In [3]:
# Figure out why and replace any strings with the column mean

In [4]:
# Create dummy variables for the origin column