# Introduction to Jupiter Notebook

## Heading level 2

### Heading Level 3

#### Heading level 4

In [3]:
import numpy as np
import pandas as pd

In [5]:
# Check versions of packages
print('numpy version:', np.__version__)
print('pandas version:', pd.__version__)

numpy version: 1.21.5
pandas version: 1.4.2

## Import Data

In [9]:
# Import data as a pandas data.frame.
df_movies = pd.read_csv('imdb_top_1000.csv')

# Display the first three rows of data.
df_movies.head(3)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"

## Explore the data

In [12]:
# Check for missing data.
df_movies.isna().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [16]:
# Get the top five movies by meta score.
df_movies.sort_values(by='Meta_score', axis = 0, ascending=False).head(5)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
440,https://m.media-amazon.com/images/M/MV5BMjE5NT...,Sweet Smell of Success,1957,Approved,96 min,"Drama, Film-Noir",8.0,Powerful but unethical Broadway columnist J.J....,100.0,Alexander Mackendrick,Burt Lancaster,Tony Curtis,Susan Harrison,Martin Milner,28137,NaN
81,https://m.media-amazon.com/images/M/MV5BNGUxYW...,Rear Window,1954,U,112 min,"Mystery, Thriller",8.4,A wheelchair-bound photographer spies on his n...,100.0,Alfred Hitchcock,James Stewart,Grace Kelly,Wendell Corey,Thelma Ritter,444074,"36,764,313"
50,https://m.media-amazon.com/images/M/MV5BY2IzZG...,Casablanca,1942,U,102 min,"Drama, Romance, War",8.5,A cynical expatriate American cafe owner strug...,100.0,Michael Curtiz,Humphrey Bogart,Ingrid Bergman,Paul Henreid,Claude Rains,522093,"1,024,560"
260,https://m.media-amazon.com/images/M/MV5BYTg1Mm...,Trois couleurs: Rouge,1994,U,99 min,"Drama, Mystery, Romance",8.1,A model discovers a retired judge is keen on i...,100.0,Krzysztof Kieslowski,Irène Jacob,Jean-Louis Trintignant,Frédérique Feder,Jean-Pierre Lorit,90729,"4,043,686"
559,https://m.media-amazon.com/images/M/MV5BYTc1NG...,Notorious,1946,U,102 min,"Drama, Film-Noir, Romance",7.9,A woman is asked to spy on a group of Nazi fri...,100.0,Alfred Hitchcock,Cary Grant,Ingrid Bergman,Claude Rains,Louis Calhern,92306,"10,464,000"

In [18]:
# Get top five movie titles by metascore
df_movies[['Series_Title', 'Meta_score']].sort_values(by='Meta_score', axis=0, ascending=False).head(5)

               Series_Title  Meta_score
440  Sweet Smell of Success       100.0
81              Rear Window       100.0
50               Casablanca       100.0
260   Trois couleurs: Rouge       100.0
559               Notorious       100.0

In [22]:
# Find the top five directors by mean IMDB rating.
df_movies[['Director', 'IMDB_Rating']].groupby('Director').mean() \
    .sort_values(by='IMDB_Rating', axis = 0, ascending=False).head(5)

                 IMDB_Rating
Director
Frank Darabont          8.95
Irvin Kershner          8.70
Lana Wachowski          8.70
George Lucas            8.60
Roberto Benigni         8.60

### Comments
<ul>
    <li>Certificate, Meta_score, and Gross all have missing data</li>
    <li>Multiple movies have the maximum Meta_scrore of $100$</li>
</ul>

## LaTeX
LaTeX is a typesetting programming language to display mathematical symbols.
### Examples
<ul>
    <li> $y = \beta_0 + \beta_1 x_1 + \beta_2 x_2$ </li>
    <li> $\displaystyle \sum_{k=1}^{\infty} \frac{1}{k^2} = \frac{\pi^2}{6}$ </li>
</ul>