# Project 1: Milestone 2 - White Paper
### DSC680-T301 Applied Data Science
### Joshua Greenert
### 3/18/2023

## Business Problem

Businesses and individuals alike invest in housing to provide for their family, or to rent out their property to gain residual income.  According to the Internal Revenue Service, in 2018 approximately 10.3 million individual filers reported they were owners of rental properties while owning 1.72 properties on average (Pew Research Center, 2021).  Throughout this project, we will attempt to discover whether these owners should be considering selling their investments, whether their homes will be massively underwater, and whether the housing market will remain stable for existing and new investors.  We will also be attempting to gain insight for millions of homeowners of whom may be worried during these tumultuous times.

## Background and History

## Data Preparation

In [46]:
# Set some required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Pull in the data.
df_housing = pd.read_csv('Housing.csv')
df_hpi = pd.read_csv('HPI_master.csv')
df_state_stats = pd.read_excel('state_statistics_for_download.xls')

# Show the head.
df_state_stats.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Estimated Mean and Median House Prices for U.S...,NaN,NaN,NaN
1,Note: Underlying methodology and data sources ...,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,State,Year-Quarter,Average Price,Median Price
4,US,2000Q1,151780,125839

### State Stats Dataset

In [47]:
# Fix the state stats dataframe.
# Correct the row headers for the state stats.
df_state_stats.columns = df_state_stats.iloc[3]

#remove first row from DataFrame
df_state_stats = df_state_stats[4:]

# Remove all values of US from the State column
df_state_stats = df_state_stats[df_state_stats['State'] != 'US']

# Remove the rows with Q2, Q3, and Q4 data.
df_state_stats = df_state_stats[~df_state_stats['Year-Quarter'].str.contains('Q[234]')]

In [48]:
# Loop through the dataframe and replace each year-quarter with an actual date object.
import datetime

for index, row in df_state_stats.iterrows():
    year = int(row['Year-Quarter'][0:4])
    date = datetime.date(year, 1, 1)
    df_state_stats.at[index,'Year-Quarter'] = date

# Show the head to confirm working
df_state_stats.head(3)

3  State Year-Quarter Average Price Median Price
46    AK   2000-01-01        159887       148406
50    AK   2001-01-01        168500       155637
54    AK   2002-01-01        175754       161283

### Housing Dataset

In [49]:
# Fix the area codes so that they are strings and have 0's at the beginning if the number is less than 5 digits.
for index, row in df_housing.iterrows():
    if(len(str(row['area'])) < 5):
        zipCode = "0" + str(row['area'])
        df_housing.at[index,'area'] = zipCode
    else:
        df_housing.at[index,'area'] = str(row['area'])
        
df_housing.head(3)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,07420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,08960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,09960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,07500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,07420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

### HPI Dataset

In [50]:
# Remove all rows with level that is not equal to state.
df_hpi = df_hpi[df_hpi['level'] == 'State']

# Remove all the periods not equal to 1
df_hpi = df_hpi[df_hpi['period'] == 1]

# Update the year to be a date; otherwise visuals won't work right.
for index, row in df_hpi.iterrows():
    year = int(row['yr'])
    date = datetime.date(year, 1, 1)
    df_hpi.at[index,'yr'] = date

# Drop all columns not needed
df_hpi = df_hpi.drop(['period', 'index_sa', 'frequency'], axis = 1)

# Show the head to confirm working
df_hpi.head(3)

,hpi_type,hpi_flavor,level,place_name,place_id,yr,index_nsa
67915,traditional,all-transactions,State,Alaska,AK,1975-01-01,62.05
67919,traditional,all-transactions,State,Alaska,AK,1976-01-01,71.34
67923,traditional,all-transactions,State,Alaska,AK,1977-01-01,78.24

## Visualizations

## Methods

## Analysis

## Conclusion

## Assumptions

## Limitations

## Challenges

## Future Uses and Additional Applications

## Recommendations

## Implementation Plan

## Ethical Assessment

## Appendix

## 10 Questions From the Audience

## References

Federal Housing Finance Agency. (2022). House Price Index Datasets [Data set]. Retrieved from https://www.fhfa.gov/DataTools/Downloads/Pages/House-Price-Index-Datasets.aspx

Parker, K., & Stepler, R. (2021, August 2). As national eviction ban expires, a look at who rents and who owns in the U.S. Pew Research Center. https://www.pewresearch.org/fact-tank/2021/08/02/as-national-eviction-ban-expires-a-look-at-who-rents-and-who-owns-in-the-u-s/

Yasser, H. (2020). Housing Prices Dataset. Kaggle. Retrieved February 14, 2023, from https://www.kaggle.com/datasets/yasserh/housing-prices-dataset