# Data Preparation Week 5 and 6
## Joshua Greenert
## DSC540-T301 Data Preparation
## 10/3/2022

## Part 1

In [33]:
# Data Wrangling with Python: Activity 7, page 207
# Create three dataframes from data sourced from this url from the tables.
# https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Get the content from the page
page = requests.get("https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)")
content = page.content

# Create the page parser
soup = BeautifulSoup(content, 'html.parser')

# Get the countries table.
countries_table = soup.find('table', class_='wikitable')

#print('Classes of each table:')
#for table in soup.find_all('table'):
#    print(table.get('class'))
    
# Define the country dataframe.
df_countries = pd.DataFrame(columns=['Country', 'Region', 'IMF_Estimate', 'IMF_Year', 
                                     'UN_Estimate', 'UN_Year', 'WB_Estimate', 'WB_Year'])
count = 0
# Collect the data and store them into the dataframe.
for row in countries_table.tbody.find_all('tr'):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
        
        # Skip rows where data is missing for any field.
        if(len(columns) != 8):
            continue
        else:
            country = columns[0].text.strip()
            unRegion = columns[1].text.strip()
            imf_estimate = columns[2].text.strip()
            imf_year = columns[3].text.strip()
            un_estimate = columns[4].text.strip()
            un_year = columns[5].text.strip()
            wb_estimate = columns[6].text.strip()
            wb_year = columns[7].text.strip()
            
            new_row = {'Country': country,  'Region': unRegion, 'IMF_Estimate': imf_estimate, 
                                                'IMF_Year': imf_year, 'UN_Estimate': un_estimate, 'UN_Year': un_year, 
                                                'WB_Estimate': wb_estimate, 'WB_Year': wb_year}
            df_countries.loc[len(df_countries.index)] = new_row

df_countries.head(5)

,Country,Region,IMF_Estimate,IMF_Year,UN_Estimate,UN_Year,WB_Estimate,WB_Year
0,World,—,"93,863,851",2021,"87,461,674",2020,"96,100,091",2021
1,United States,Americas,"25,346,805",2022,"20,893,746",2020,"22,996,100",2021
2,China,Asia,"19,911,593",[n 2]2022,"14,722,801",[n 3]2020,"17,734,063",2021
3,Japan,Asia,"4,912,147",2022,"5,057,759",2020,"4,937,422",2021
4,Germany,Europe,"4,256,540",2022,"3,846,414",2020,"4,223,116",2021

In [35]:
# Getting other tables from the sources on the page (tables leftover don't look very pretty)
# Get the content from the page
page = requests.get("https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita")
content = page.content

# Create the page parser
soup = BeautifulSoup(content, 'html.parser')

# Get the countries table.
countries_table = soup.find('table', class_='wikitable')

# Define the country dataframe.
df_countries = pd.DataFrame(columns=['Country', 'Region', 'IMF_Estimate', 'IMF_Year', 
                                     'UN_Estimate', 'UN_Year', 'WB_Estimate', 'WB_Year'])
count = 0
# Collect the data and store them into the dataframe.
for row in countries_table.tbody.find_all('tr'):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
        
        # Skip rows where data is missing for any field.
        if(len(columns) != 8):
            continue
        else:
            country = columns[0].text.strip()
            unRegion = columns[1].text.strip()
            imf_estimate = columns[2].text.strip()
            imf_year = columns[3].text.strip()
            un_estimate = columns[4].text.strip()
            un_year = columns[5].text.strip()
            wb_estimate = columns[6].text.strip()
            wb_year = columns[7].text.strip()
            
            new_row = {'Country': country,  'Region': unRegion, 'IMF_Estimate': imf_estimate, 
                                                'IMF_Year': imf_year, 'UN_Estimate': un_estimate, 'UN_Year': un_year, 
                                                'WB_Estimate': wb_estimate, 'WB_Year': wb_year}
            df_countries.loc[len(df_countries.index)] = new_row

df_countries.head(5)

,Country,Region,IMF_Estimate,IMF_Year,UN_Estimate,UN_Year,WB_Estimate,WB_Year
0,Luxembourg *,Europe,"135,046",2022,"117,182",2020,"135,683",2021
1,Ireland *,Europe,"101,509",2022,"86,251",2020,"99,152",2021
2,Switzerland *,Europe,"96,390",2022,"86,919",2020,"93,457",2021
3,Norway *,Europe,"99,481",2022,"66,871",2020,"89,282",2021
4,Qatar *,Asia,"84,514",2022,"50,815",2020,"61,276",2021

In [36]:
# Getting other tables from the sources on the page (tables leftover don't look very pretty)
page = requests.get("https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)")
content = page.content

# Create the page parser
soup = BeautifulSoup(content, 'html.parser')

# Get the countries table.
countries_table = soup.find('table', class_='wikitable')

# Define the country dataframe.
df_countries = pd.DataFrame(columns=['Country', 'Region', 'IMF_Estimate', 'IMF_Year', 
                                     'WB_Estimate', 'WB_Year', 'CIA_Estimate', 'CIA_Year'])
count = 0
# Collect the data and store them into the dataframe.
for row in countries_table.tbody.find_all('tr'):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
        
        # Skip rows where data is missing for any field.
        if(len(columns) != 8):
            continue
        else:
            country = columns[0].text.strip()
            unRegion = columns[1].text.strip()
            imf_estimate = columns[2].text.strip()
            imf_year = columns[3].text.strip()
            wb_estimate = columns[4].text.strip()
            wb_year = columns[5].text.strip()
            cia_estimate = columns[6].text.strip()
            cia_year = columns[7].text.strip()
            
            new_row = {'Country': country,  'Region': unRegion, 'IMF_Estimate': imf_estimate, 
                                                'IMF_Year': imf_year, 'WB_Estimate': wb_estimate, 'WB_Year': wb_year, 
                                                'CIA_Estimate': cia_estimate, 'CIA_Year': cia_year}
            df_countries.loc[len(df_countries.index)] = new_row

df_countries.head(5)

,Country,Region,IMF_Estimate,IMF_Year,WB_Estimate,WB_Year,CIA_Estimate,CIA_Year
0,China,Asia,"30,177,926",2022,"24,273,360",2020,"23,009,780",2020
1,United States,Americas,"25,346,805",2022,"20,936,600",2020,"19,846,720",2020
2,India,Asia,"11,745,260",2022,"9,907,028",2020,"8,443,360",2020
3,Japan,Asia,"6,110,075",2022,"5,328,033",2019,"5,224,850",2019
4,Germany,Europe,"5,269,963",2022,"4,469,546",2020,"4,238,800",2020

## Part 2

In [2]:
# Data Wrangling with Python: Activity 8, page 233

## Part 3

In [ ]:
# Insert data into a SQL Lite database – create a table with the following data
#   a. Name, Address, City, State, Zip, Phone Number
#   b. Add at least 10 rows of data and submit your code with a query generating your results.