# Predictive Analytics: Assignment 10.2
#### Joshua Greenert
#### DSC630-T301 Predictive Analytics
#### 2/14/2023

In [4]:
# Import the required libaries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Pull in the data to begin preparation.
df_ratings = pd.read_csv('../../../../../Downloads/ml-25m/ratings.csv')
df_ratings.head(5)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [5]:
# Pull in the links, movies, and tags datasets to use later.
df_movies = pd.read_csv('../../../../../Downloads/ml-25m/movies.csv')
df_links = pd.read_csv('../../../../../Downloads/ml-25m/links.csv')
df_tags = pd.read_csv('../../../../../Downloads/ml-25m/tags.csv')