In [2]:
# Perform at least 5 data transformations.
# Optional suggestions 
import pandas as pd
'''
Replace Headers
Format data into a more readable format
Identify outliers and bad data
Find duplicates
Fix casing or inconsistent values
Conduct Fuzzy Matching
'''

'\nReplace Headers\nFormat data into a more readable format\nIdentify outliers and bad data\nFind duplicates\nFix casing or inconsistent values\nConduct Fuzzy Matching\n'

## Step 1

In [19]:
# Read the data into a dataframe.
df_companies = pd.read_csv('Fortune 1000 Companies by Revenue.csv')

# Fix column names to not have any spaces.
df_companies.columns

df_companies.set_axis(["rank", "name", "revenues", "revenue_percent_change", "profits", "profits_percent_change", "assets", "market_value", "change_in_rank", "employees" ], axis=1, inplace=True)

## Step 2

In [23]:
# Reduce all names to lowercase.
df_companies['name'] = df_companies['name'].str.lower()

# Confirm that names were updated with sample.
df_companies['name'].head(10)

0               walmart
1                amazon
2                 apple
3            cvs health
4    unitedhealth group
5           exxon mobil
6    berkshire hathaway
7              alphabet
8              mckesson
9     amerisourcebergen
Name: name, dtype: object