# Data Preparation Week 11 and 12
## Joshua Greenert
## DSC540-T301 Data Preparation
## 11/1/2022

## Data Wrangling with Python: Activity 11, page 320

In [2]:
# Connect to petsDB and check whether the connection has been successful
import sqlite3

# Set up the connection.
conn = sqlite3.connect("petsdb")

# Check the connection.
try:
    conn.cursor()
    print("Connection is successful!")
except Exception as ex:
    print("ERROR: Failed to connect!")

Connection is successful!

In [11]:
# Find the different age groups in the persons database
# Persons database: id, first_name, last_name, age, city, zip_code
cursor = conn.execute("SELECT count(*), age from persons group by age")

# Print the results.
for people, age in cursor:
    print(f"The count of {people} people are {age}")

The count of 2 people are 5
The count of 1 people are 6
The count of 1 people are 7
The count of 3 people are 8
The count of 1 people are 9
The count of 2 people are 11
The count of 3 people are 12
The count of 1 people are 13
The count of 4 people are 14
The count of 2 people are 16
The count of 2 people are 17
The count of 3 people are 18
The count of 1 people are 19
The count of 3 people are 22
The count of 2 people are 23
The count of 3 people are 24
The count of 2 people are 25
The count of 1 people are 27
The count of 1 people are 30
The count of 3 people are 31
The count of 1 people are 32
The count of 1 people are 33
The count of 2 people are 34
The count of 3 people are 35
The count of 3 people are 36
The count of 1 people are 37
The count of 2 people are 39
The count of 1 people are 40
The count of 1 people are 42
The count of 2 people are 44
The count of 2 people are 48
The count of 1 people are 49
The count of 1 people are 50
The count of 2 people are 51
The count of 2 people are 52
The count of 2 people are 53
The count of 2 people are 54
The count of 1 people are 58
The count of 1 people are 59
The count of 1 people are 60
The count of 1 people are 61
The count of 2 people are 62
The count of 1 people are 63
The count of 2 people are 65
The count of 2 people are 66
The count of 1 people are 67
The count of 3 people are 68
The count of 1 people are 69
The count of 1 people are 70
The count of 4 people are 71
The count of 1 people are 72
The count of 5 people are 73
The count of 3 people are 74

In [14]:
# Find the age group that has the maximum number of people
cursor = conn.execute("SELECT count(*) as count, age from persons group by age order by count desc limit 1")

# Print the results.
for people, age in cursor:
    print(f"The count of {people} people are {age}")

The count of 5 people are 73

In [20]:
# Find the people who do not have a last name
cursor = conn.execute("SELECT id, first_name from persons where last_name is null")

# Print the results.
for id, name in cursor:
    print(f"{id} {name}")

1 Erica
2 Jordi
3 Chasity
4 Gregg
6 Cary
8 Francisca
10 Raleigh
11 Maria
12 Mariane
13 Mona
14 Kayla
15 Karlie
16 Morris
17 Sandy
18 Hector
19 Hiram
20 Tressa
21 Berry
22 Pearline
23 Maynard
24 Dorian
25 Mylene
26 Lafayette
29 Tara
30 Destiny
31 Lesly
32 Perry
35 Maritza
37 Grant
39 Laury
40 Name
41 Estefania
42 Destiney
43 Jaquelin
45 Alfonzo
46 Lisandro
49 Priscilla
50 Elenora
52 Rudolph
56 Ona
57 Rebeca
59 Sigurd
63 Alice
64 Dane
65 Judge
66 Allene
67 Jalen
70 Myron
73 Travon
74 Shayna
75 Myah
82 Letha
84 Felton
85 London
86 Koby
87 Golden
89 Anissa
91 Sid
96 Ernesto
97 Josianne

In [30]:
# Find out how many people have more than one pet
# pets database: owner_id, pet_name, pet_type, treatment_done
cursor = conn.execute("SELECT count(*) from (select count(owner_id) as count from pets group by owner_id having count > 1)")

# Print the results.
for info in cursor:
    print(f"There are {info[0]} people with more than one pet.")

There are 43 people with more than one pet.

In [34]:
# Find out how many pets have received treatment
cursor = conn.execute("SELECT count(treatment_done) from pets where treatment_done = 1")
for info in cursor:
    print(f"{info[0]} pets have received treatment.")

36 pets have received treatment.

In [36]:
# Find out how many pets have received treatment and the type of pet is known
cursor = conn.execute("SELECT count(treatment_done) from pets where treatment_done = 1 and pet_type is not null")
for info in cursor:
    print(f"{info[0]} pets have received treatment and their type is known.")

16 pets have received treatment and their type is known.

In [38]:
# Find out how many pets from the city called "east port"
cursor = conn.execute("SELECT count(*) as count from persons join pets on pets.owner_id = persons.id where city = 'east port'")
for info in cursor:
    print(f"{info[0]} pets from east port")

49 pets from east port

In [39]:
# Find out how many pets are from the city called "east port" and who received a treatment
cursor = conn.execute("SELECT count(*) as count from persons join pets on pets.owner_id = persons.id where city = 'east port' and treatment_done = 1")
for info in cursor:
    print(f"{info[0]} pets from east port and have received treatment.")

11 pets from east port and have received treatment.