# Assignment 11 & 12: Charts
#### Joshua Greenert
#### DSC640-T301 Data Presentation and Visualization
#### 2/19/2023

In [2]:
# Import the required libaries for plotting.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Set up the dataset.
df_education = pd.read_csv('education.csv')
df_education.head(5)

,state,reading,math,writing,percent_graduates_sat,pupil_staff_ratio,dropout_rate
0,United States,501,515,493,46,7.9,4.4
1,Alabama,557,552,549,7,6.7,2.3
2,Alaska,520,516,492,46,7.9,7.3
3,Arizona,516,521,497,26,10.4,7.6
4,Arkansas,572,572,556,5,6.8,4.6

In [3]:
# Pull in the other datasets.

In [4]:
# Histogram

In [5]:
# Boxplot

In [6]:
# Bullet Chart

In [ ]:
# One additional Chart